* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;

}


img {
  margin: auto;
  height: 160px;
  display: block;
}

h1 {
  text-align: center;
}

.menubar {
  text-align: center;
}

.menubar a {
  color: black;
  text-align: center;
  padding: 10px 50px;
  font-size: 20px;
  border: 2px solid black;
  text-decoration: none;
}

.menubar a:hover {
  background-color: grey;
}


.footer1 {
  background-color: #eeeeee;
  text-align: center;
  }


header {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.x1 {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
}

nav {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 50px 60px 0 60px;
}

nav li {
  list-style: none;
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
}

nav li span {
  padding-left: 5px;
}

li a {
  padding: 5px;
  text-decoration: none;
  background-color: lightgrey;
}

ion-icon {
  color: green;
}

.cart ion-icon{
  vertical-align: bottom;
  font-size: 20px;
  padding-right: 5px;
}

.cart a {
  background-color: lightgrey;
  cursor: pointer;
  text-decoration: none;
}

.container,
.products-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
  padding-bottom: 100px;
}

.products-container {
  max-width: 650px;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 50px;
}

.image {
    margin-right: 20px;
    margin-left: 20px;
    position: relative;
    overflow: hidden;
}

.products-container ion-icon {
  font-size: 50px;
  color: green;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.product-header {
  width: 100%;
  max-width: 650px;
  display: flex;
  justify-content: flex-start;
  border-bottom: 4px solid lightgrey;
  margin: 0 auto;
}

.products-title {
  width: 45%;
}

.price {
  width: 20%;
  display: flex;
  align-items: center;
  padding: 10px;
}

.quantity {
  width: 30%;
  display: flex;
  border-bottom: 1px solid lightgrey;
  align-items: center;
  padding: 10px;

}

.Total {
  width: 10%;
  display: flex;
  border-bottom: 1px solid lightgrey;
  align-items: center;
  padding: 10px;
}

.product {
  width: 90%;
  display: flex;
  border-bottom: 1px solid lightgrey;
  align-items: center;
  justify-content: space-around;
  padding: 10px 0;
}

.product ion-icon{
  cursor: pointer;
}

.products {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.products img {
  width: 100%;
}

.basketTotalContainer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 10px 0;
}

.basketTotalTitle {
  width: 30%;
}

.basketTotal {
  width: 10%;
}

body {
  font-family: 'Lobster', cursive;
}


fieldset {
  background-color: #eeeeee;
  padding: 2px;
  text-align: center;

}


legend {
  background-color: gray;
  color: white;
  padding: 5px 7px;
  text-align: left;
  font-weight: bold;

}
form {

  display: inline-block;
  margin-left: auto;
  margin-right: auto;

  font-weight: bold;
  font-size: 18px;
}
